doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Satisfy&display=swap", rel="stylesheet")

  body
    include includes/header.pug
    block main