/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Flash Card Styles */
body {
  background-image: url("../img/backg4.jpg");
  background-position: center;
  background-size: auto;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

.logo{
  width: 100px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;


}
.tittle{
  font-size: 250%;
  font-family: 'Satisfy', cursive;
  color: #000;
  
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(41, 70, 38);
  font-size: 14px;
}

header img {
  width: 100%;
  max-width: 350px;
}
p{
  font-size: 200%;
}


h1 {
  margin: 0;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  width: 50%;
  height: 30px;
  font-size: 1em;
  text-align: center;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #34393D;
}


/* Buttons */
.button-primary-small {
  margin-top: 50px;
  background-color: #fff;
  border: 2px rgb(80, 80, 80) solid;
  font-size: 1em;
  padding: 8px 10px;
  color: rgb(56, 56, 56);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.button-primary-small:hover {
  background-color: rgb(94, 214, 38);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


/* Log In */

.namecard {
  background-color: rgb(245, 240, 240);
  max-width: 400px;
  margin: auto;
  color: rgb(62, 138, 102);
  font-size: 120%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.namecard-login {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-bottom: solid 2px #EDEAD9;
  padding: 5px 20px;
  text-align: left;
}

.namecard-greeting {
  font-size: 1em;
  font-weight: 400;
  width: 50%;
}

.namecard-form {
  padding-top: 15px;
}

.namecard-prompt {
  font-size: 26px;
  font-weight: 400;
  display: block;
  padding-top: 45px;
}

.namecard-name {
  display: block;
  margin: 20px auto;
}

.namecard-submit {
  margin-top: 50px;
  background-color: #fff;
  border: 2px rgb(83, 83, 83) solid;
  font-size: 1em;
  padding: 8px 10px;
  color: rgb(66, 66, 66);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.namecard-submit:hover {
  background-color: rgb(170, 245, 220);
  color: rgb(66, 66, 66);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.namecard-exit {
  width: 50%;
  text-align: right;
}

.namecard-exit button {
  background-color: #F5F3ED;
  border: none;
  margin-top: 2px;
  outline: none;
}

.namecard-exit button:hover {
  cursor: pointer;
}


/* Flash Cards */
.flashcards {
  position: absolute;
  top: 370px;
  right: 0;
  left: 0;
  bottom: 0;
}

.card {
  position: relative;
  max-width: 400px;
  min-height: 450px;
  box-sizing: border-box;
  margin: auto;
  padding-bottom: 30px;
  color: #727C85;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  line-height: 1.5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 8px;
}

.card-header {
  background-color: rgb(59, 123, 180);
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  text-align: center;
  border-top: 2px solid #F5F3ED;
  border-bottom: 2px solid rgba(0,0,0,.05);
  color: #727C85;
  padding: 10px;
  letter-spacing: 5px;
  background-color: rgb(245, 240, 240)ZZZ;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.card-answer .card-title {
    background-color: rgb(165, 197, 184);
    color: rgb(27, 27, 27);
}

.card-question {
  background-color:  rgb(245, 240, 240);
}

.card-question div:first-of-type {
  background-image: url("../img/card1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-answer {
  background-color: rgb(215, 248, 234);
}

.card-answer div:first-of-type {
  background-image: url("../img/card3.png");
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);filter: grayscale(100%)
}

.card-answer #content {
  color: rgb(73, 73, 73);
}

#content {
  padding: 8% 5%;
}

#content button {
  padding: 8px 10px;
  font-size: 15px;
  margin: auto;
  color: #C79735;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: rgb(245, 240, 240);
  border: 2px solid #C79735;
  transition-duration: 0.5s;
}

#content button {
  display: block;
}

#content button:hover {
  cursor: pointer;
  background-color: rgb(185, 140, 48);
  color: #fff;
}

.card-flip-wrap {
  position: absolute;
  bottom: 10px;
  left: 20px;
  padding-left: 500px:
}

.card-flip {
  max-width: 25px;
  border-radius: 50px;
  padding: 20px;
  border: 2px solid rgb(156, 156, 156);
  margin-top: 30px;
}

.card-flip:hover {
  border: 2px solid rgb(87, 86, 86);
  cursor: pointer;
}

.card-next {
  position: absolute;
  bottom: 25px;
  right: 20px;
  text-align: center;
  padding-top: 0px;
}
.card-next img {
  max-width: 30px;
}

.card-next a:link, .card-next a:visited, .card-next a:hover, .card-next a:active {
  text-align: center;
  text-decoration: none;
  color: #727C85;
}


/* 404 Error */

.desk {
  width: 80%;
  color: #727C85;
  margin: auto;
  text-align: center;
}

.desk h1 {
  font-weight: 400;
}

.desk-items {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.paper {
  text-align: left;
  color: #34393D;
  height: 500px;
  background-color: #d32a2a;
  background-size: 100% 2.5em;
  background-image: linear-gradient(rgba(234, 236, 211, 1) 0.1em, transparent 0.2em);
  border-left: 0.2em solid rgba(216, 64, 38, 0.5);
  padding-left: 20px;
  margin-top: 70px;
  overflow: scroll;
}

.paper pre {
  font-size: 1em;
  line-height: 3.15em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin-top: 0;
}

.tear {
  background-image: url("../img/tear.svg");
  background-repeat: repeat-x;
  width: 100%;
  height: 24px;
}

@media only screen and (max-width: 760px){
  .logo{
    width: 60px;
  }
  header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
  }
  p{
    font-size: 180%;
  }
  .namecard-login {
    padding: 0px 20px;
  }
  
  .namecard-form {
    padding-top: 8px;
  }
  
  .namecard-name {
    display: block;
    margin: 2px auto;
  }

  .namecard-exit {
    width: 50%;
    text-align: right;
  }
  
  
  /* Flash Cards */
  .flashcards {
    position: absolute;
    top: 270px;
    right: 0;
    left: 0;
    bottom: 0;
  }

  
}

